


body {

  	background-image: url(../imagenes/fondo.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}



.container {	
 height: 90%;	
 background: #9274AC;
 color: #333;
 overflow: auto;
 opacity: 0.8;
 bottom: 5%;
 padding-top: 2%;
}

.container p{
  margin: 5%  ;
}

.container .enlacemorado{
  color: rgb(148, 45, 148);
}

.container a:hover{
	color: rgb(148, 45, 148);
}

.rowtrello{
  margin: auto;
    width:80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  max-width: 200px;
  max-height: 200px;
}

h1
{
  font-size: 32px;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(53, 54, 56);
  padding:16px;
  font-weight:lighter;
  display:block;
  margin:16px; 
}

.nombrepersonaje{
    font-size: 300%;
    font-family:'Open Sans Condensed';
    padding: 10%;
    text-align: center;
    display: block;
    margin: auto;
	color: black;
	margin-left: 15%;
	margin-right: 15%;
	border-bottom: 1px solid black;
}


.tabla_personajes{
    margin: auto;
    width:100%;
}

.row{
    margin: auto;
    width:80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.row > div {
    
    width:20%;
    padding: 5px;
    border-right-style: groove;
    border-left-style: groove;
    text-align: center;
    border-color: rgb(64, 64, 93);
    border-width: 1px;

}

.row > div > img {
  
    max-width: 100%;
    max-height: 200px;
}


.integrantes{
    vertical-align: middle;
    width: 90%;
    height: auto;
    margin: auto;
    padding-top: 10%;
    text-align: center;
}

.integrantes th{
    border-left: 1px solid black;
    border-right: 1px solid black;
}



.parrafopersonaje{
    padding-right: 20%;
    padding-left: 20%;
	  padding-top: 10%;
    text-align: justify;
    font-family:Helvetica;
    font-weight: 400;
    font-size: larger;
}

.imagenparrafo{
    padding:10px;
    float: left;
    max-width: 100%;
    max-height: 180px;
}

.col-sm a img{
    max-width: 100px;
    max-height: 100px;
    width: 100%;
}

.h2personaje{
    text-align: center;
	font-family:'Open Sans Condensed';
	color: black;
}

i{
    color: rgb(87, 21, 126);
}
  
.parrafocentrado{
  padding-top: 10%;
    font-family: 'Lobster';
    font-size: larger;
    padding-right: 20%;
    padding-left: 20%;
}













  /* Scroll 4 */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	background-color:rgba(10, 10, 10, 0.2);;
  }
  ::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.4);
  }
  ::-webkit-scrollbar-thumb {
	background-color: #5332e7;
	background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
	border-radius: 10px;
  }



.grid{
	
	margin:auto;
	
	
}


#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: sans-serif;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  transition: all 0.5s;
  backface-visibility: hidden;
  will-change: transform;
  transition: all 0.5s;
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transition: all 0.5s;
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}




/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  font-weight: 300;
  opacity: 0;
}

#demo1 {
  color: #F5CE95;
  text-transform: capitalize;
    text-align: center;
  bottom: 50%;
  padding-top:50%;
  font-size: 1.5em;
  z-index: 1;
}
.hex h1:before, .hex h1:after {
  display: inline-block;
  margin: 0 0.5em;
  width: 0.25em;
  height: 0.03em;
  background: #ffffff;
  content: '';
  vertical-align: middle;
  transition: all 0.3s;
  text-align:center;
}

#demo2 {
top: 50%;
text-align: center;
text-transform: uppercase;
    
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img:before, .img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  transition: opacity 0.5s;
}
.img:before {
  background: rgba(22, 103, 137, 0.3)
}
.img:after {
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
}

/*** HOVER EFFECT  **********************************************************************/



.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
opacity:1;
transition: 0.8s;
}


.hexIn:hover .img:before,
.hexIn:hover .img:after,
.hexIn:hover .hexLink {
  opacity: 1;
}


/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%;
    font-size: 13px;
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%;
    font-size: 14px;
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%;
    font-size: 12px;
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 8px;
    }
  

  
 
}
  
  

  
   
   